/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// added by me...
.margin {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
}
