<main>
  <section class="jumbo">
    <div class="margin center">
      <h1 class="center mat-display-1 mat-headline">Manage your tickets!</h1>
      <p>
        <a routerLink="create" mat-raised-button>Create a new ticket</a>
      </p>
    </div>
  </section>
  <section>
    <div class="margin">
      <h1>Notes</h1>
      <p>
        J'ai un peu souffert pour créer cette appli... alors appréciez ;)
      </p>
      <p>
        <button mat-raised-button routerLink="/tickets/not-existing" color="primary">Not existing ticket test</button>
      </p>
    </div>
  </section>
</main>