<mat-toolbar color="primary">
  <mat-icon>description</mat-icon>
  <span>Tickets</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <nav *ngIf="!(isHandsetPortrait$ | async)">
    <a routerLink="create" mat-button>Create a new ticket</a>
    <a routerLink="list" mat-button>All tickets</a>
  </nav>
  <button (click)="menu.toggle()" mat-icon-button *ngIf="isHandsetPortrait$ | async">
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
{{isHandsetPortrait$ | async}}