.full-width {
    display: block;
    width: 100%;
    max-width: 30rem;
    padding: 1em 0;
}

.short-width {
    max-width: 15rem;
}

.mat-radio-button {
    display: block;
    margin: 1em 0;
}

.actions {
    line-height: 3em;
    button:first-child {
        margin: 0 8px;
    }
}